body {
  height: 100%;
  max-width: 600px;
  margin: auto;
  background-color: var(--mainGreen);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 1px black;
}

:root {
  --mainGreen: #489078;
  --lightGray: #605858;
  --lightGray2: #958d8d;
  --darkGray: #353131;
  --mainWhite: #e9e8e5;
  --mainRed: #eb5757;
}

#cart.display-flex,
#menu.display-flex,
#eta.display-flex,
#receipt-section.display-flex {
  display: flex;
}

.total-items.display-none {
  display: none;
}

.green {
  background-color: var(--mainGreen);
}

.gray {
  background-color: var(--darkGray);
}

.light-gray {
  background-color: var(--lightGray);
}

.white {
  background-color: var(--mainWhite);
}
